* {
    padding: 0;
    margin: 0;
    outline: 0;
    font-family: 'Poppins', sans-serif;
}

:root {
    --black: #212121;
    --blue: #19b2fc;
    --blueOpacity: #19b0fcc4;
    --white: #fff;
    --offWhite: #f6f6f6;
    --gray: #b4b4b4;
}

body {
    background-color: var(--offWhite);
}

a {
    transition: 0.3s all ease-in-out;
}

.container {
    width: 98%;
    max-width: 1100px;
    margin: 0 auto;
}

/* Header */ 

header {
    background-color: var(--white);
    padding: 10px 0;
    box-shadow: 0 1px 3px 0 var(--gray);
    position: sticky;
    top: 0;
    z-index: 500;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a#logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: var(--black);
    text-decoration: none;
    font-size: 55px;
}

header a#logo span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: var(--blue);
}

header nav#mainMenu {
    display: flex;
    gap: 40px;
}

header nav#mainMenu a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: var(--black);
    position: relative;
    padding: 5px;
}

header nav#mainMenu a::before {
    position: absolute;
    content: '';
    height: 2px;
    width: 0;
    bottom: 0;
    left: 50%;
    background-color: var(--blue);
    transition: 0.3s all ease-in-out;
}

header nav#mainMenu a.active,
header nav#mainMenu a:hover {
    color: var(--blue);
}

header nav#mainMenu a.active::before,
header nav#mainMenu a:hover::before {
    width: 100%;
    left: 0;
}

/* Header End */


/* Banner */

section#banner {
    background-color: var(--white);
}

section#banner .container {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section#banner aside,
section#banner img {
    width: 50%;
}

section#banner aside h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: var(--black);
}

section#banner aside h1 span {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: var(--blue);
}

section#banner aside p {
    font-size: 16px;
    font-weight: 400;
    color: var(--black);
    margin: 20px 0;
}

/* Banner End */


/* Search Bar */

form#searchBar {
    position: relative;
    width: 50px;
    transition: 0.3s all ease-in-out;
}

form#searchBar.active {
    width: 100%;
}

form#searchBar::before {
    position: absolute;
    content: attr(data-info);
    left: 120%;
    top: 50%;
    transform: translateY(-50%);
    width: 200px;
    font-weight: 500;
    color: var(--blue);
    overflow: hidden;
    transition: 0.2s all ease-in-out;
    white-space: nowrap;
}

form#searchBar.active::before {
    width: 0;
}

form#searchBar input[type=text] {
    font-size: 16px;
    padding: 6px;
    border-radius: 25px 0 0 25px;
    transition: 0.3s all ease-in-out;
    border: transparent solid 2px;
    width: 0;
}

form#searchBar.active input[type=text] {
    width: calc(100% - 60px);
    padding: 6px 12px;
    border-color: var(--blue);
}

form#searchBar button[type=button] {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    border-radius: 500%;
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

form#searchBar button[type=button] svg {
    width: 30px;
    height: 30px;
    transition: 0.3s all ease;
}

form#searchBar.active button[type=button] svg.search,
form#searchBar button[type=button] svg.close {
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
}

form#searchBar button[type=button] svg.search,
form#searchBar.active button[type=button] svg.close {
    width: 30px;
    height: 30px;
    opacity: 1;
    visibility: visible;
}

/* Search Bar End */

/* Enroll */
section#enroll {
    background-color: var(--blue);
    padding: 80px 0;
}

section#enroll .flexRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section#enroll article {
    width: 50%;
}

section#enroll article h2 {
    font-size: 35px;
    color: var(--white);
    margin-bottom: 10px;
}

section#enroll article h2 span {
    color: var(--black);
}

section#enroll article p {
    color: var(--offWhite);
    font-weight: 500;
}

section#enroll aside {
    width: 40%;
    border-radius: 20px;
    background-color: var(--white);
}

section#enroll aside form {
    padding: 30px;
}

section#enroll aside form h2 {
    font-size: 30px;
    color: var(--black);
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
}

section#enroll aside form input[type=text],
section#enroll aside form input[type=email],
section#enroll aside form input[type=tel],
section#enroll aside form select {
    width: calc(100% - 18px);
    background-color: var(--white);
    border: var(--gray) solid 1px;
    padding: 8px;
    margin: 6px 0;
    border-radius: 5px;
}

section#enroll aside form input[type=text]:focus,
section#enroll aside form input[type=email]:focus,
section#enroll aside form input[type=tel]:focus,
section#enroll aside form select:focus {
    border-color: var(--blue);
}

section#enroll aside form select {
    width: 100%;
}

section#enroll aside form button[type=submit] {
    margin-top: 10px;
    width: 100%;
    padding: 8px 0;
    font-size: 18px;
    font-weight: 500;
    color: var(--white);
    background-color: var(--blue);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

section#enroll aside form button[type=submit]:hover {
    background-color: var(--black);
}

@media (max-width: 768px) {
    section#enroll .flexRow {
        flex-flow: column;
    }

    section#enroll article {
        width: 100%;
    }

    section#enroll aside {
        width: 100%;
        max-width: 500px;
        margin-top: 50px;
    }
}

/* End Enroll */

/* Footer */
footer {
    background-color: var(--white);
    padding: 15px;
    font-size: 16px;
    color: var(--black);
}

footer .flexRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 596px) {

    footer .flexRow {
        flex-flow: column;
        gap: 10px;
    }
}

footer nav .fa {
    padding: 10px;
    font-size: 20px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%
  }
  
  footer nav .fa:hover {
      color: #2bb5eb;
  }
  
  footer nav .fa {
    background: black;
    color: white;
  }
/* End Footer */

/* calling mode */

join a:link, a:visited {
    background-color: #2bb5eb;
    color: black;
    border: 2px solid black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
join a.active,a:hover {
      color: var(--white);
  }

  /* video*/
.content
  {
      height: 480px;
  }
.from
  {  
      background-color: black;
      height: 380px;
      width: 500px;
      border: 1px solid black;
      margin-top: 60px;
      margin-left: 180px;
      border-radius: 20px;
      float: left;
  }
  
.to
  {
      background-color: black;
      height: 380px;
      width: 500px;
      border: 1px solid black;
      margin-top: 60px;
      margin-left: 150px;
      border-radius: 20px;
      float:left;
  }

/* group call*/
.content1
  {
      height: 560px;
  }
.from1
  {
      background-color: black;
      height: 245px;
      width: 320px;
      border: 1px solid black;
      margin-top: 20px;
      margin-left: 210px;
      border-radius: 20px;
      float:left;
  }
  
  .to1
  {
      background-color: black;
      height: 245px;
      width: 320px;
      border: 1px solid black;
      margin-top: 20px;
      margin-left: 70px;
      border-radius: 20px;
      float:left;
  }

  .to2
  {
      background-color: black;
      height: 245px;
      width: 320px;
      border: 1px solid black;
      margin-top: 20px;
      margin-left: 70px;
      border-radius: 20px;
      float:left;
  }

  .to3
  {
      background-color: black;
      height: 245px;
      width: 320px;
      border: 1px solid black;
      margin-top: 20px;
      margin-left: 210px;
      border-radius: 20px;
      float:left;
  }

  .to4
  {
      background-color: black;
      height: 245px;
      width: 320px;
      border: 1px solid black;
      margin-top: 20px;
      margin-left: 70px;
      border-radius: 20px;
      float:left;
  }

  .to5
  {
      background-color: black;
      height: 245px;
      width: 320px;
      border: 1px solid black;
      margin-top: 20px;
      margin-left: 70px;
      border-radius: 20px;
      float:left;
  }

/* end call*/
.content2
  {
      height: 60px;
  }

  .content3
  {
      height: 60px;
  }

  .btn {
    background-color:red;
    border: none;
    color: white;
    padding: 12px 16px;
    margin-left: 47%;
    font-size: 20px;
    cursor: pointer;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color:white;
    color: red;
}
